<h1>Ativos Ausentes</h1>
<br>Bom dia!<br>
<br>Favor adicionar os seguintes emissores na planilha <strong>ativos_bancarios.xlsx</strong>, que está na pasta
Novos.<br>
<br>Na coluna "De" preencher o nome informado na tabela abaixo e o respectivo emissor no RUN. Já na coluna "Para" o nome
do emissor padronizado, sendo este um valor único por emissor.<br>
<br><strong style="color:#FF0000;">IMPORTANTE!</strong> Validar se o emissor em questão já está na planilha com outro
nome, pois a coluna "Para" deve conter valores únicos por emissor.<br>
<br>{EMISSORES_AUSENTES}
&nbsp;