<h1>Fundos sem Margem de Administração</h1>
<br>Bom dia!<br>
<br>Favor adicionar a margem de administração dos seguintes fundos na planilha <strong>Outros Fundos.xlsx</strong>, que
está na pasta 13 - Planilhas de Atualização, visto que esses fundos não estão no Fund Guide.<br>
<br><strong>Passo a passo:</strong><br>
<br> &emsp; 1. Filtrar na planilha Fund Guide (mais atualizada) os fundos (caso tenha, preencher na planilha a taxa -
ROA Adm), caso não tenha filtrar na planilha "Margem Fundos" na pasta Back Office > 13. Documentos, Planilhas -
Importantes.
<br> &emsp; 2. Caso não encontre em nenhuma, não realizar nenhuma ação (nesse caso são fundos novos na nossa base, então
não terá essa informação por enquanto)<br>
<br><strong style="color:#FF0000;">IMPORTANTE!</strong> Preenhcer o CNPJ do fundo igual ao informado na tabela
abaixo.<br>
<br>{FUNDOS_SEM_MARGEM}
&nbsp;