<h1>Ativos Ausentes</h1>
<br>Bom dia!<br>
<br>Favor adicionar as seguintes ofertas na planilha <strong>ROA - IPO.xlsx</strong>, que está na pasta
13 - Planilhas de Atualização.<br>
<br>A princípo a coluna "Data Receita" é a Data de Liquidação da emissão, mas pode ser que a receita seja paga
antecipadamente.<br>
<br><strong>Passo a passo:</strong><br>
<br>&emsp; 1. Abrir a planilha "ROA - IPO" e preencher todas as colunas. Se o ativo for RV não é necessário
preenhcer o Produto. Já a coluna de Repasse deve ser preenchida, apenas quando esse valor for diferente do padrão.
<br>&emsp; 2. Para localizar o ROA Bruto de ativos de RF, entre no BTG Bankers e filtre pelo arquivo "Pipeline de
Ofertas Públicas - Renda Fixa" mais recente. No arquivo procure o
ativo/emissor, e copie a taxa da coluna "Fee Bruto" e insira na planilha de IPO no ROA Bruto.
<br>&emsp; 3. Caso não encontre nesse documento, verificar com a mesa de RF essa informação.<br>
<br><strong style="color:#FF0000;">IMPORTANTE!</strong> Em alguns casos há mais de uma data inicial ou final de reserva
para a mesma emissão, por isso é necessário atentar-se para adicionar todos os casos.<br>
<br>{OFERTAS_AUSENTES}<br>
&nbsp;
<br>A data da receita das ofertas abaixo está muito distante, favor conferir se está certo.<br>
<br>{CONFERENCIA_DATA}<br>
&nbsp;