<h1>Receita Estimada - {DATA_HOJE}</h1>
<br>Bom dia!<br>
<br>Segue o consolidado da Receita Estimada hoje.<br>
{AVISO}
<br><strong>Data máxima por tipo de receita:</strong><br>
<br>{DATA_MAXIMA_POR_TIPO}<br>
<br><strong>Diferença entre D-1 e hoje:</strong><br>
<br><strong>Observação:</strong> O tipo ou categoria será detalhado caso a diferença percentual seja maior do que
<u>12%</u>.<br>
<br>{DIFERENCA_ENTRE_DIAS}<br>
<br><strong>Categorias com diferenças expressivas entre D-1 e hoje no acumulado do último mês <u>(maior que
        {DIFERENCAS_EXPRESSIVAS_VAR} ou menor que
        0,00%)</u>:</strong><br>
<br>{DIFERENCAS_EXPRESSIVAS}<br>
&nbsp;